public/storage
public/hot
storage/*.key
storage/upload
storage/exports
storage/files/*
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
storage/uploads
vendor
storage/files
sftp-config.json
./storage/*
storage/*
