a>.panel-heading{background-color: #f5f5f5;}
.top-head{background:#d0d0d0; }
.top-head b{font-size: 13px; color:#2b4235fa;}
.mda-form-control,.form-group{text-align: left!important;}
/* .bidtime{font-size:12px;} */
.p0{padding:0px;}
.fs12{font-size:12px;}
.donwload{
  height:44px;
  width: 44px;
  cursor: pointer;
  background: url('../../img/assets/download.svg')no-repeat;
}
.pt0{padding-top:0px;}
.donwload:hover{
  height:44px;
  width: 44px;
  background: url('../../img/assets/download_des.svg')no-repeat;
}
.iconsetex{
  height:44px;
  width: 44px;
  cursor: pointer;
  background: url('../../img/assets/upload.svg')no-repeat;
}

.iconsetex:hover{
  height:44px;
  width: 44px;
  background: url('../../img/assets/upload_desc.svg')no-repeat;
}
.iconsetex:hover{
  height:44px;
  width: 44px;
  background: url('../../img/assets/upload_desc.svg')no-repeat;
}
.iconsetmas{
  height:44px;
  width: 44px;
  background: url('../../img/assets/bid.svg')no-repeat;
}
.iconsetmas:hover{
  height:44px;
  width: 44px;
  background: url('../../img/assets/bid_desc.svg')no-repeat;
}
.zoom{height:20px;width:18px;cursor: pointer;}
.bidtest{font-weight:600;font-size:13px;}
.panel-heading{padding: 5px 15px;}
.panel-body{padding-top:5px; padding-bottom:2px;}
.edit-bid-data{padding-bottom:3px; padding-left:3px;}
.dashed-borderd-table>table{margin-bottom:5px;}
.mt7{margin-top:7px;}
#time-left{margin-right:12%;}
.plr0{padding-left:0px;padding-right:0px;}
.pr0{padding-right:0px;}
