a>.panel-heading{background-color: #f5f5f5;}
.top-head{background:#d0d0d0; }
.top-head b{font-size: 13px; color:#2b4235fa;}
.mda-form-control,.form-group{text-align: left!important;}
.donwload{
  height:44px;
  width: 44px;
  background: url('../../img/assets/download.svg')no-repeat;
}
.donwload:hover{
  height:44px;
  width: 44px;
  background: url('../../img/assets/download_des.svg')no-repeat;
}
.iconsetex{
  height:44px;
  width: 44px;
  background: url('../../img/assets/upload.svg')no-repeat;
}

.iconsetex:hover{
  height:44px;
  width: 44px;
  background: url('../../img/assets/upload_desc.svg')no-repeat;
}
.iconsetex:hover{
  height:44px;
  width: 44px;
  background: url('../../img/assets/upload_desc.svg')no-repeat;
}
.iconsetmas{
  height:44px;
  width: 44px;
  background: url('../../img/assets/bid.svg')no-repeat;
}
.iconsetmas:hover{
  height:44px;
  width: 44px;
  background: url('../../img/assets/bid_desc.svg')no-repeat;
}
